*{
	margin: 0;
	padding: 0;
}

.foto img{
	width: 89px
}

@media(max-width: 768px){
	aside{
		display: none;
	}
	.nav{
		display: none;
	}
	.berubah {
		position: fixed;
		top: 0;
		border: 3px solid #222;
		width: 100%;
		display: flex;
		justify-content: space-around;
		background: rgba(0,0,0,0.8);
		z-index: 1;

	}
	
	.berubah a {
		width: 100%;
		color: #b2b2b2;
		text-transform: uppercase;
		font-size: 0.875em;
		letter-spacing: 2px;
		text-align: center;
		padding: 10px 10px;
		transition: all 0.35s;
	}

	.berubah a:hover{
		background: #b2b2b2;
		color: #222;
	}
	
	.control {
 		width: 450px;
 		padding: 5px;
 		font-size: 16px;
 		color: #495057;
 		background-color: #fff;
 		border: 1px solid #ced4da;
 		border-radius: 4px;
 		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}

}

@media(min-width: 769px){
	.berubah{
		display: none;
	}
	.control {
 	width: 500px;
 	padding: 5px;
 	font-size: 16px;
 	color: #495057;
 	background-color: #fff;
 	border: 1px solid #ced4da;
 	border-radius: 4px;
 	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}
}

html, body{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
	background-color: #1C457D;
}
main{
	max-width: 980px;
	margin-left: 20%;
	padding: 12px 50px 12px 50px;
}

header {
	justify-content: center;
	letter-spacing: 2px;
}

header h1 {
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 4px;
}

header h2 {

	font-weight: 300;
	font-size: 24px;
	letter-spacing: 4px;
	color: #b2b2b2;
}



.home{
	display: flex;
	width: 100%;
	height: 336px;
	flex-direction: column;
	justify-content: center;
	background-image: url(foto/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: auto;
	padding: 100px 0;

}

.home h1,.home h2 {
	display: flex;
	justify-content: center;

}

.sos img{
	position: absolute;
	width: 30px;
}


.nav{
	position: fixed;
	width: 300px;
	height: auto;
	background-color: none;
	top: 20%;
	left: 0; 

}
.nav a{
	text-decoration: none;
	font-size: 28px;
	font-family: arial;
	font-weight: bold;
	height: 90px;
	float: left;
	display: inline-block;
	background-color: black;
	color: white;
	line-height: 90px;
	text-align: center;
	transition: 300ms;
}

.active{
	background-color: white
	color: black;
}
.active, .nav a:hover{
	background-color: white;
	color: black;
	width: 100%;
}

.active{
	width: 95%;
}
.b{
	width: 85%;
}
.c{
	width: 75%;
}
.d{
	width: 60%;
}

.profile{
	line-height: 20px;
	letter-spacing: 1px;
	font-weight: 300;
	width: 100%;
	height: 100%;
	padding-bottom: 30px;
	background-color: #1C457D;

}

.profile h3, .project h2{
	padding-bottom: 10px;
	font-size: 34px;
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin: 80px 0 0 0;
	letter-spacing: 4px;
}
.profile h1{
	text-align: center;
}
.profile span{
	font-weight: 600;
	color: black;
}
.table {
	margin-top: 15px;
	border-collapse: collapse;
	width: 100%;
}

.table th {
	background-color: #222;
	padding: 10px 15px;
}

.table td{
	padding: 10px 15px;
	color: white;
}

.table tr {
	text-align: center;
}

.table tr:nth-child(even){
	background-color: #D20665;
}

.table tr:nth-child(odd){
	background-color: #1F417A;
}
.project{
	line-height: 20px;
	letter-spacing: 1px;
	font-weight: 300;
	padding-left: 
	width: 100%;
	height: 100%;
	background-image: url(foto/bintang.jpg);
	display: flex;
	margin-top: 30px;
	align-items: flex-end;
	flex-direction: column;
	color: white
}

.project h2 {
	width: 80%;
}
.gambar {
	width: 80%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	flex-wrap: wrap;	
}

.gambar .gam {
	flex: 50%;
	display: flex;
	justify-content: space-around;
	padding-bottom: 20px;
}
.gam img{
	width: 300px;
}

.contact{
	width: 100%;
	height: 640px;
	background-color: #1C457D;
}
.contact .kontak{
	display: grid;
	grid-template-rows: 1fr;
	justify-content: center;
	padding: 30px;
}
.contact .kontak h1{
	display: grid;
	justify-content: center;
}
.grup {
 	margin-bottom: 16px;
 	display: grid;
 	grid-template-rows: 1fr;
 	justify-content: center;

}

.butt{
	width: 70px;
	height: 30px;
	border-radius: 5px;
}

.foot{
	flex: 100%;
}
.footer{
	width: 100%;
	height: 50px;
	text-align: center;
	padding-top: 50px;
	font-size: 18px;
	background-color: #4A88F2;
}

